<!DOCTYPE html>
<html>
  <body>  
    <%= render partial: "layouts/sidebar", locals: { active: 'reg_helper' } %>
    <div class="content center-content">
      <input class="text-input" id="search-bar" type="text" placeholder="Search (e.g., Computer Science)">

      <% @departments.each do |department| %>
      <a href="<%= department_reghelper_path(department) %>">
        <button class="reg-button"><%= department.code %></button>
      </a>
      <% end %>
      
    </div>



  </body>
</html>

