<!DOCTYPE html>
<html>
  <body>
    <%= render "sidebar"%>
    <div class="appeals_content">
      <h2 class="appeals_title">Appeals for Class Slots</h2>
      <p>Check all the courses you want to apply an appeal for and click submit. You may only accomplish this module only once per registration period.</p>
    </div>
  </body>
</html>

