<div class="alert alert-success" role="alert">
  Your appeal for the opening of an additional course section has been successfully submitted.
  You would be notified if the request has been approved.
  If you believe this is a mistake, please click the 'Request for Appeal' button once more.
</div>

<%= link_to 'Back', :back, class: 'btn btn-primary' %>