<!DOCTYPE html>
<html>
  <body>
    <%= render partial: "layouts/sidebar", locals: { active: 'reg_helper' } %>
    <div class="content">
      <span><%= link_to "Go back", reghelper_path, class: "sidebar-link back-button"%></span>
      <input class="text-input" id="search-bar" type="text" placeholder="Search (e.g., Computer Science)">
    </div>
    
    <div class="content center-content">
      <a href="/deptart">
          <button class="reg-button">Department of Art Studies</button>
      </a>

      <a href="/deptfpl">
          <button class="reg-button">Department of Filipino and Philippine Literature</button>
      </a>
      
    </div>



  </body>
</html>

