<!DOCTYPE html>
<html>
  <body>
    <%= render partial: "layouts/sidebar", locals: { active: 'profile_dept' } %>
    <div class="content left-content">

      <h3 class="title title-profile">Information</h3>
      <form class="dept-input">
        <label for="course-title" style="margin-right: 5pt;"><b>Course Title:</b></label>
        <input type="text" id="course-title" name="course-title" class="text-input text-input-long" placeholder="Input course title here..."> <br/>
        <label for="course-desc"><b>Course Description:</b></label><br/>
        <textarea id="course-desc" name="course-desc" rows="3" cols="50" placeholder="Input course description here..." style="width:50%;"></textarea>
      </form>

      <h3 class="title title-profile">Prerogative Policy</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-prerog" type="hidden" name="prerog">
        <trix-editor input="editor-prerog" placeholder="Input prerogative policies here..."></trix-editor> 
      </form>

      <h3 class="title title-profile">Waitlisting Schedule</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-waitlist" type="hidden" name="waitlist">
        <trix-editor input="editor-waitlist" placeholder="Input waitlisting schedule here..."></trix-editor> 
      </form>

      <h3 class="title title-profile">Cancellation Procedure</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-cancel" type="hidden" name="cancel">
        <trix-editor input="editor-cancel" placeholder="Input cancellation policies here..."></trix-editor> 
      </form>

      <h3 class="title title-profile">Other Information</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-other" type="hidden" name="other">
        <trix-editor input="editor-other" placeholder="Input other notes/policies here..."></trix-editor> 
      </form>
    </div>

    <script>
      addEventListener("trix-file-accept", function(event) {
        event.preventDefault();
      });
    </script>
  </body>
</html>

