<!DOCTYPE html>
<html>
  <body>
    <%= render "sidebar"%>
    <div class="content">
      <span><%= link_to "Go back", cal_path, class: "sidebar-link back-button"%></span>
      <input class="text-input" id="search-bar" type="text" placeholder="Department of Art Studies">
    </div>>
    
    <div class="content center-content">
      <div class="course-wrapper">
        <div class="course-container">
          <a href="/AS50"><button class="reg-button course-button">
                <div>AS50 - 3.0 UNITS</div>
                <div class="subtext">The Field of Art Studies</div>
            </button></a>
        </div>
        <div class="fb-post">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fartstudies.upd%2Fposts%2F866020218648407&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
      </div>
    </div>
  </body>
</html>

