<!DOCTYPE html>
<html>
<head>
  <title>Database Connection Error</title>
</head>
<body>
  <h3>Database Connection Error</h3>
  <p>No connection to database. Please try again later.</p>
</body>
</html>