<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <div class="mini-profile">
        <%= image_tag "default.png", class: "profile-pic" %>
        <h1 id="name"><%= session[:data]["email"]%></h1>
        <!-- <h1>José Protacio Rizal Mercado y Alonso Realonda</h1> -->
      </div>

      <hr class="divider"/>

      <div class="links">
        <!-- Convert into correct links -->
        <span><a href="/home" class="active sb-link">Dashboard</a></span>
        <span><a href="/home" class="sb-link">My Favorites</a></span>
        <span><a href="/home" class="sb-link">Registration Helper</a></span>
        <span><a href="/home" class="sb-link">Website Masterlist</a></span>
        <span><a href="/home" class="sb-link">User Preferences</a></span>
        <span><%= button_to "Logout", logout_path, class: "sb-link"%></span>
      </div>
    </div>
    <div class="content">
      <input class="text-input" id="search-bar" type="text" placeholder="Search (e.g., Computer Science)">
    </div>
  </body>
</html>

