<%# <h1>NO Database Connection Yet!</h1>
<p>Home Page</p>
<button onclick="window.location.href='/'">Go Back to Main</button> %>


<div class="container">
    <div class="row mt-5">
        <h3><%= session[:data]["email"]%> <h3>
        <%= button_to "Logout", logout_path, class:"btn btn-danger"%>
    </div>

</div>