<!DOCTYPE html>
<html>
  <body>
    <div class="page-wrapper">
      <div class="center-wrapper">
        <h1 class="title">IskoInfo</h1>

        <p class="about">
          IskoInfo is a comprehensive online platform that aims
          to streamline information from all University of the
          Philippines Diliman units. It features a collation of
          all social media posts, a UPD website masterlist and
          registration information dissemination.
        </p>

        <!-- Update links to "/logindept", etc.-->
        <div class="button-wrapper-1">
          <a href="/loginstudent" class="login-button">Log in as Student</a>
          <a href="/logindept" class="login-button">Log in as Department</a>
        </div>

        <div class="button-wrapper-2">
          <a href="/signup" class="signup">No account yet? Sign up here</a>
        </div>
      </div>

    </div>
    <%= image_tag "oblation.png", class: "oblation" %>
  </body>
</html>