<!DOCTYPE html>
<html>
  <body>
    <%= render "sidebar"%>
    <div class="content center-content">
      <input class="text-input" id="search-bar" type="text" placeholder="Search (e.g., Computer Science)">
      
      <a href="/cal">
          <button class="reg-button">College of Arts and Letters</button>
      </a>

      <a href="/coe">
          <button class="reg-button">College of Engineering</button>
      </a>
      
    </div>



  </body>
</html>

