/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --maroon: maroon;
  --dark-maroon: #660000;
  --light-maroon: #990000;
  --white-smoke: #FAF9F6;
  --transparent-black: rgba(0,0,0,0.5);
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #FAF9F6; 
  margin: 0 auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left-content {
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.text-input {
  font-size: large;
  line-height: 3rem;
  border: 2px solid var(--transparent-black);
  border-radius: 15px;
  padding: 0 10pt;
}

.text-input-long {
  font-size: medium;
  line-height: 2rem;
  background-color: var(--white-smoke);
  border: 1px solid var(--transparent-black);
  border-radius: 3px;
  padding: 0 5pt;
  margin: 10pt 0;
  width: 50%;
}

textarea {
  margin-top: 5pt;
  background: var(--white-smoke);
  border: 1px solid var(--transparent-black);
  border-radius: 3px;
  width: 60%;
}

.rich-text-input {
  font-size: medium;
  line-height: 2rem;
  text-align: left;
  width: min(100%, 750pt);
  padding: 10pt 0;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 20px 0 20px 0;
}