.masterlist-title {
  color: var(--maroon);
  text-align: left;
  margin-bottom: 0;
}

h3.masterlist-title {
  font-size: 36px;
  margin-top: 2rem;
}

h4.masterlist-title {
  font-size: 24px;
  font-weight: normal;
  margin-top: 1rem;
}

table {
  margin-top: 10px;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th, td {
  padding: 5px;
  border: 2px solid;
}

th{
  background-color: maroon;
  color: var(--white-smoke);
  border: 2px solid black;
  border-collapse: collapse;
}