.reg-button {
    width: 100%;
    height: 75pt;
    margin: 10pt 0;
    padding: 10pt;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0pt 2pt 4pt hsla(0, 0%, 0%, 20%);
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    color: var(--maroon);
    transition: background 0.3s ease, color 0.3s ease;
    position: relative;
}

link.reg-button {
    margin: 10pt;
    
}

.reg-button:hover {
    color: white;
    background: var(--maroon);
}

.course-button {
    width: 100%;
}

.course-container {
    position: relative;
    flex-direction: column;
    min-width: 200pt;
    width: calc(100% - 520px);
}

.colldept-container {
    position: relative;
    flex-direction: column;
    min-width: 200pt;
}

.right-image {
    position: absolute;
    z-index: 1;
    right: 10px;
    width: 65px; /* Adjust as needed */
    height: auto; /* Keeps aspect ratio */
    transform: translateY(+40%);
    transition: transform 0.3s ease-in-out; /* Smooth transform transition */
    cursor: pointer; /* Changes the cursor to a hand when hovered */
}

.right-image2 {
    position: absolute;
    right: 10px;
    z-index: 1;
    width: 65px; /* Adjust as needed */
    height: auto; /* Keeps aspect ratio */
    transform: translateY(+40%);
    transition: transform 0.3s ease-in-out; /* Smooth transform transition */
    cursor: pointer; /* Changes the cursor to a hand when hovered */
}

.right-image:hover {
    transform: translateY(+40%) scale(1.1); /* Keeps the same vertical position and scales the image up when hovered */
}

.course-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.course-details-wrapper {
    margin-left: var(--sidebar-width);
}

.fb-post {
    background: white; /* Make the background white */
    width: 500px; /* Set the width to match the iframe */
    height: 100%; /* Set the height to match the iframe */
    float: right; /* Float the div to the right */
    margin: 10pt 20pt; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the box */
}

.course-button:hover {
    color: #FFF; /* Inverted text color */
    background: var(--maroon); /* Inverted background color */
}

.course-button:hover .subtext {
    color: #FFF; /* Change the color of the subtext on hover */
}

.subtext {
    font-size: 0.6em; /* Make the font size smaller */
    color: #000; /* Make the color lighter */
    font-weight: normal; /* Make the text not bold */
    transition: color 0.3s ease; /* Add transition to the color */
}

.course-details-container {
    background-color: white; /* Make the background white */
    color: black; /* Make the text color black */
    padding: 20pt;
    margin: 10pt 20pt;
    margin-right: 0pt;
    width: 100%; /* Set the width to 100% */
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bold-text {
    font-weight: bold; /* Make the text bold */
}

.course-heading {
    font-size: 1.5em;
    margin-top: 10px; /* Add space after the text */
    margin-bottom: 10px; /* Add space after the text */
    color: var(--maroon);
    font-weight: bold;
}

.appeal-button {
    /* padding: 10px 20px; */
    margin-top: 10pt;
}

.appeal-button:disabled {
    opacity: 50%;
    cursor: not-allowed;
    /* pointer-events: none; */
}

.favorite-button {
    color: var(--white-smoke);
    background-color: rgb(210, 155, 17);
    border-radius: 45px;
    padding: 15px 30px;
    border: none;
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
    margin-top: 10pt;
}

.favorite-button:hover {
    background-color: rgb(230, 177, 43);
    transition: 0.3s;
    cursor: pointer;
}

.favorite-button.clicked {
    background-color: rgb(152, 152, 152); /* Change to the color you want */
}

.back-button {
    /* border: dotted; */
    max-width: 120px;
    margin: 0;
    margin-right: 10pt;
}

/* .back-button {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
} */

@media screen and (max-width: 700px) {
    .course-details-wrapper { margin-left: 0;}
    .course-container { width: 100%; }
    .fb-post { display: none; }
}