:root {
  --maroon: maroon;
  --dark-maroon: #660000;
  --light-maroon: #990000;
  --white-smoke: #FAF9F6;
  --transparent-black: rgba(0,0,0,0.5);
  --sidebar-width: 250px;
  --margin-height: 20px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #FAF9F6; 
  margin: 0 auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* LANDING PAGE */
/* LANDING PAGE */
/* LANDING PAGE */

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--maroon);
  font-size: 100px;
  font-weight: bold;
  margin: 0 auto;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
}

h2.title {
  font-size: 50px;
}

.about {
  color: var(--maroon);
  font-size: 14pt;
  padding: 0 20%;
  flex: 1;
  text-align: center;
}

.button-wrapper-1 {
  display: flex;
  width: auto;
  padding: 0;
  flex: 1;
  flex-direction: row;
  column-gap: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: wrap;
}

.button-wrapper-2 {
  display: flex;
  width: auto;
  padding: 0;
  margin: 10px;
}

.login-button {
  color: var(--white-smoke);
  background-color: var(--maroon);
  border-radius: 45px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.login-button:hover {
  background-color: var(--light-maroon);
  transition: 0.3s;
}

.signup {
  color: var(--maroon);
  text-shadow: 0 3px 3px var(--transparent-black);
}

.signup:hover {
  color: var(--light-maroon);
  transition: 0.3s;
}

.oblation {
  max-width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  align-self: flex-end;
  z-index: -100;
}

/* LOGIN DEPARTMENT */
/* LOGIN DEPARTMENT */
/* LOGIN DEPARTMENT */


/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */

.sidebar {
  margin: 0;
  padding: 0;
  width: var(--sidebar-width);
  background-color: var(--maroon);
  position: fixed;
  left: 0;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: var(--white-smoke);
  padding: 16pt;
  font-size: large;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--dark-maroon);
  color: var(--white-smoke);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 15%;
}

.sidebar a:hover:not(.active) {
  background-color: var(--light-maroon);
  color: var(--white-smoke);
  transition: 0.2s;
}

.mini-profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: var(--margin-height) 10px var(--margin-height) 10px;
}

.mini-profile h1 {
  display: block;
  color: var(--white-smoke);
  margin: 0;
  padding: 15px;
  text-decoration: none;
  font-size: large;
  text-align: left;
}

.profile-pic {
  height: 50px;
  width: 50px;
}

.divider {
  background-color: var(--white-smoke);
  position: relative;
  height: 3px;
  margin: 0;
}

.content {
  margin-left: var(--sidebar-width);
  padding: var(--margin-height) 10px;
  height: 100vh;
}

.text-input {
  font-size: large;
  line-height: 3rem;
  border: 2px solid var(--transparent-black);
  border-radius: 15px;
  padding: 0 10pt;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 20px 0 20px 0;
}

.form input {}

.search {
  display: block;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* font-size: large;
  line-height: 3rem;
  border: 2px solid var(--transparent-black);
  border-radius: 15px; */
}

/* input.search {
  padding: 10px;
  padding-left: 10pt;
} */

@media screen and (max-width: 700px) {
  /* LANDING PAGE */
  .about {padding: 0 10%;}

  /* HOME PAGE */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .content {margin-left: 0;}
}